body{
	background-color: #222;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

#Navbar{
	background-color: #fcfc00;
	height: 100px;
}

#Navbar h1{
	font-size: 2.2em;
	margin-top: 10px;
	color: #333; 
	text-decoration: none;
}

#Navbar a{
	text-decoration: none;
}

#Navbar h1:hover{
	color: green;
	font-weight: bold;
}

#Navbar button{
	margin-top: 60px;
	border: 2px solid #333;
}

#Navbar button .icon-bar{
	border: 1px solid #333;
}

#collapsable-nav{
	background-color: #fcfc00;
}

#collapsable-nav a{
	color: black;
	font-size: 1.4em;
}

#collapsable-nav a:hover{
	background-color: #ee0000;
	font-weight: bold;
}

#main-content{
	margin-top: 80px;
}

#ourmenu{
	margin-bottom: 40px;
}

#main-content .text-holder{
	background-color: #444;
	padding: 15px;
}

#main-content section{
	margin-bottom: 45px;
}

#main-content h3{
	margin-bottom: 30px;
}